body {
    background-color: whitesmoke;
    margin: 0%;
}
textarea {
    resize: none;
    border-radius: 5px;
    outline: none;
}
h1, h2, p {
    font-family: Helvetica
}
.header {
    background-color: darkslategray;
    color: white;
    padding: 1% 1% 1% 10%;
    margin: 0em;
}
.intro {
    padding: 1% 50% 1% 10%;
    margin: 0em;
}
.haiku-area{
    padding: 1% 50% 1% 10%;
    margin: 0em;
}
.button{
    background-color: darkslategray;
    border: none;
    color: white;
    font-family: monospace;
    width: 50px;
    height: 30px;
}